.mono-h1,
.mono-h2,
.mono-h3,
.mono-h4,
.mono-h5 {
	font-family: 'Michroma', sans-serif;
	letter-spacing: -0.05rem;
	word-spacing: 0.5rem;
	font-weight: bold;
}

.spinner-border-sm {
	--bs-spinner-width: 0.9rem;
	--bs-spinner-height: 0.9rem;
	--bs-spinner-border-width: 0.1rem;
}
